# Vehicle Data Analysis

In [2]:
import pandas as pd

data = [1,2,3]
pd.Series(data)

0    1
1    2
2    3
dtype: int64

In [3]:
df = pd.DataFrame([[1,2,3], [4,5,6], [7,8,9]], columns=['A', 'B', 'C'], index=['x', 'y', 'z'])
df.head()

   A  B  C
x  1  2  3
y  4  5  6
z  7  8  9

In [4]:
df.nunique()

A    3
B    3
C    3
dtype: int64

In [ ]:
vehicle = pd.read_csv('./Vehicle Price.csv')