In [52]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

vehicle_data = pd.read_csv('./Vehicle Price.csv')
X = vehicle_data.drop(columns=['price'])
X = X.select_dtypes(include='number')

y = vehicle_data['price']
y = y.notnull().astype(int)

model = DecisionTreeClassifier()
model.fit(X.values, y)

X

      year  cylinders  mileage  doors
0     2024        6.0     10.0    4.0
1     2024        6.0      1.0    4.0
2     2024        8.0      0.0    4.0
3     2023        8.0     32.0    4.0
4     2024        6.0     10.0    4.0
...    ...        ...      ...    ...
997   2024        4.0     10.0    3.0
998   2024        4.0      0.0    4.0
999   2024        6.0     20.0    4.0
1000  2024        6.0      6.0    4.0
1001  2024        8.0     31.0    4.0

[1002 rows x 4 columns]

In [54]:
predictions = model.predict([[2024, 6.0, 27.0, 3.0]])
predictions

array([1])